In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
CoursesH = requests.get('https://cs.nyu.edu/dynamic/courses/schedule/?semester=spring_2021')
Coursedom = BeautifulSoup(CoursesH.text)
selector = '.schedule-listing .row'
CourseEle = Coursedom.select(selector)
df = pd.DataFrame(columns=["Number-Section", "Name","Instructor","Time"])
for element in CourseEle:
    spanfind = element.select('span')
    NumberSection = spanfind[0].text.split('(')[0].strip().split('\n')[0]
    Instructor = spanfind[2].text.strip().split('\n')[0]
    Instructor = Instructor.strip();
    Name = spanfind[1].text.strip();
    Time = spanfind[3].text.strip();
    df.loc[len(df.index)] = [NumberSection,Name,Instructor,Time]
df['Number'] = df['Number-Section'].str.extract('([^ ]+)..\d\d\d$')
df['Section'] = df['Number-Section'].str.extract('[^\.\d](\d\d\d)')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 0 to 151
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Number-Section  152 non-null    object
 1   Name            152 non-null    object
 2   Instructor      152 non-null    object
 3   Time            152 non-null    object
 4   Number          152 non-null    object
 5   Section         152 non-null    object
dtypes: object(6)
memory usage: 8.3+ KB

In [2]:
df.head()

,Number-Section,Name,Instructor,Time,Number,Section
0,CSCI-GA.1144-​001,PAC II*,Mohamed Zahran,T 6:00-8:30PM,CSCI-GA.1144,001
1,CSCI-GA.1144-​002,PAC II Recitation,Gurkirat Singh Bajwa,R 7:10-8:00PM,CSCI-GA.1144,002
2,CSCI-GA.1170-​001,Fundamental Algorithms,Yevgeniy Dodis,T 7:10-9:00PM,CSCI-GA.1170,001
3,CSCI-GA.1170-​002,Fundamental Algorithms Recitation,Alex Bienstock,R 8:10-9:00PM,CSCI-GA.1170,002
4,CSCI-GA.1170-​003,Fundamental Algorithms Recitation,Harish Karthikeyan,R 8:10-9:00PM,CSCI-GA.1170,003

In [3]:
df.tail()

,Number-Section,Name,Instructor,Time,Number,Section
147,CSCI-UA.0480-​057,Special Topics: Natural Language Processing,Adam Meyers,TR 9:30-10:45AM,CSCI-UA.0480,057
148,CSCI-UA.0480-​069,Special Topics: Agile Software Development and...,Amos Bloomberg,MW 3:30-4:45PM,CSCI-UA.0480,069
149,CSCI-UA.0480-​521,Special Topics: Algorithmic Problem Solving,Joanna Klukowska,MW 11:00-12:15PM,CSCI-UA.0480,521
150,CSCI-UA.0480-​522,Special Topics: Algorithmic Problem Solving,Kunal Khatri,W 3:30-4:45PM,CSCI-UA.0480,522
151,CSCI-UA.0480-​523,Special Topics: Algorithmic Problem Solving,Samasth Ananda,W 3:30-4:45PM,CSCI-UA.0480,523

In [4]:
df.sample(5)

,Number-Section,Name,Instructor,Time,Number,Section
34,CSCI-GA.3033-​029,Special Topics:\n ...,Bhubaneswar Mishra,R 5:10-7:00PM,CSCI-GA.3033,029
42,CSCI-GA.3033-​078,Special Topics:\n ...,Joseph Bonneau,R 5:10-7:00PM,CSCI-GA.3033,078
136,CSCI-UA.0330-​002,Introduction to Computer Simulation,TBA,F 11:00-12:15PM,CSCI-UA.0330,002
13,CSCI-GA.2250-​002,Operating Systems,Hubertus Franke,M 7:30-9:20AM,CSCI-GA.2250,002
54,CSCI-GA.3813-​002,Adv Lab MS *,STAFF,-,CSCI-GA.3813,002

In [5]:

CoursesCata = requests.get('https://cs.nyu.edu/dynamic/courses/catalog/')
Catadom = BeautifulSoup(CoursesCata.text)
selector = '.col-sm-12'
CataEle = Catadom.select(selector)
dfCata = pd.DataFrame(columns=["Number", "Prereqs","Points"])
for element in CataEle:
    pfind = element.select('p')
    NumberC = pfind[0].text.strip().split(' ')[0]
    Points = pfind[1].text.split(".")[0].split("\n")[1].strip()
    Prereqs = pfind[2].text.split("Prerequisites: ")[1]
    dfCata.loc[len(dfCata.index)] = [NumberC,Prereqs,Points]
dfCata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Number   100 non-null    object
 1   Prereqs  100 non-null    object
 2   Points   100 non-null    object
dtypes: object(3)
memory usage: 3.1+ KB

In [6]:
dfCata.head()

         Number                                            Prereqs    Points
0  CSCI-GA.1133                                               None  4 Points
1  CSCI-GA.1144           CSCI-GA 1133 or departmental permission.  4 Points
2  CSCI-GA.1170  At least one year of experience with a high-le...  3 Points
3  CSCI-GA.1180                                               None  3 Points
4  CSCI-GA.2110  Students taking this class should already have...  3 Points

In [7]:
dfCata.tail()

,Number,Prereqs,Points
95,CSCI-UA.0897,Restricted to declared computer science majors...,1 - 4 Points
96,CSCI-UA.0898,Restricted to declared computer science majors...,1 - 4 Points
97,CSCI-UA.0997,Permission of the department. Does not satisfy...,1 - 4 Points
98,CSCI-UA.0998,Permission of the department. Does not satisfy...,1 - 4 Points
99,FRSEM-UA.0597,"Some programming experience in Python, Java, J...",4 Points

In [8]:
dfCata.sample(5)

          Number                                            Prereqs    Points
76  CSCI-UA.0381  Data Science for Everyone (DS-UA 111) or equiv...  4 Points
18  CSCI-GA.2433                                               None  3 Points
40  CSCI-GA.2830                                               None  3 Points
4   CSCI-GA.2110  Students taking this class should already have...  3 Points
1   CSCI-GA.1144           CSCI-GA 1133 or departmental permission.  4 Points

In [9]:
df1 = df.drop(columns=['Number-Section','Section'])
dfnew = df1.merge(dfCata, how = 'left')
dfnew = dfnew[['Number', 'Name', 'Instructor', 'Time', 'Prereqs','Points']]
dfnew

,Number,Name,Instructor,Time,Prereqs,Points
0,CSCI-GA.1144,PAC II*,Mohamed Zahran,T 6:00-8:30PM,CSCI-GA 1133 or departmental permission.,4 Points
1,CSCI-GA.1144,PAC II Recitation,Gurkirat Singh Bajwa,R 7:10-8:00PM,CSCI-GA 1133 or departmental permission.,4 Points
2,CSCI-GA.1170,Fundamental Algorithms,Yevgeniy Dodis,T 7:10-9:00PM,At least one year of experience with a high-le...,3 Points
3,CSCI-GA.1170,Fundamental Algorithms Recitation,Alex Bienstock,R 8:10-9:00PM,At least one year of experience with a high-le...,3 Points
4,CSCI-GA.1170,Fundamental Algorithms Recitation,Harish Karthikeyan,R 8:10-9:00PM,At least one year of experience with a high-le...,3 Points
...,...,...,...,...,...,...
147,CSCI-UA.0480,Special Topics: Natural Language Processing,Adam Meyers,TR 9:30-10:45AM,Topics determine prerequisites.,4 Points
148,CSCI-UA.0480,Special Topics: Agile Software Development and...,Amos Bloomberg,MW 3:30-4:45PM,Topics determine prerequisites.,4 Points
149,CSCI-UA.0480,Special Topics: Algorithmic Problem Solving,Joanna Klukowska,MW 11:00-12:15PM,Topics determine prerequisites.,4 Points
150,CSCI-UA.0480,Special Topics: Algorithmic Problem Solving,Kunal Khatri,W 3:30-4:45PM,Topics determine prerequisites.,4 Points
151,CSCI-UA.0480,Special Topics: Algorithmic Problem Solving,Samasth Ananda,W 3:30-4:45PM,Topics determine prerequisites.,4 Points

I spot that sometimes there exists mutiple instructors responsible for one course. The way I coped with it is that I only count the first instructor.

I spot that sometimes one courses will have several different numbers(i.e. CSCI-GA.1170-002 DS-GA.1170). I only count the first name, which is the CSCI number. 

When I use pd.merge and how = left, which will keep all rows in the first DataFrame(df1, which is dataframe for the first website Spring 2021 CS Course schedule). This is important since we need to show all scheduled classes in spring 2021 along with their points and prereqs. The dfCata only represents the points and prereqs, while df1 reflects all scheduled classes. So we need how = left to keep  all rows in df1.