In [1]:
import pandas as pd
import requests
base_url= "http://linserv1.cims.nyu.edu:10000/films?_page="
count =1
res = requests.get(f'{base_url}{count}')
data = res.json()
data[0]

{'id': '2baf70d1-42bb-4437-b551-e5fed5a87abe',
 'title': 'Castle in the Sky',
 'original_title': '天空の城ラピュタ',
 'original_title_romanised': 'Tenkū no shiro Rapyuta',
 'description': "The orphan Sheeta inherited a mysterious crystal that links her to the mythical sky-kingdom of Laputa. With the help of resourceful Pazu and a rollicking band of sky pirates, she makes her way to the ruins of the once-great civilization. Sheeta and Pazu must outwit the evil Muska, who plans to use Laputa's science to make himself ruler of the world.",
 'director': 'Hayao Miyazaki',
 'producer': 'Isao Takahata',
 'release_date': '1986',
 'running_time': '124',
 'rt_score': '95',
 'people': ['https://ghibliapi.herokuapp.com/people/'],
 'species': ['https://ghibliapi.herokuapp.com/species/af3910a6-429f-4c74-9ad5-dfe1c4aa04f2'],
 'locations': ['https://ghibliapi.herokuapp.com/locations/'],
 'vehicles': ['https://ghibliapi.herokuapp.com/vehicles/'],
 'url': 'https://ghibliapi.herokuapp.com/films/2baf70d1-42bb-4437-b551-e5fed5a87abe'}

In [2]:
res2 = requests.get(f'{base_url}{count+1}')
data2 = res2.json()
data2[0]

{'id': 'dc2e6bd1-8156-4886-adff-b39e6043af0c',
 'title': 'Spirited Away',
 'original_title': '千と千尋の神隠し',
 'original_title_romanised': 'Sen to Chihiro no kamikakushi',
 'description': 'Spirited Away is an Oscar winning Japanese animated film about a ten year old girl who wanders away from her parents along a path that leads to a world ruled by strange and unusual monster-like animals. Her parents have been changed into pigs along with others inside a bathhouse full of these creatures. Will she ever see the world how it once was?',
 'director': 'Hayao Miyazaki',
 'producer': 'Toshio Suzuki',
 'release_date': '2001',
 'running_time': '124',
 'rt_score': '97',
 'people': ['https://ghibliapi.herokuapp.com/people/'],
 'species': ['https://ghibliapi.herokuapp.com/species/af3910a6-429f-4c74-9ad5-dfe1c4aa04f2'],
 'locations': ['https://ghibliapi.herokuapp.com/locations/'],
 'vehicles': ['https://ghibliapi.herokuapp.com/vehicles/'],
 'url': 'https://ghibliapi.herokuapp.com/films/dc2e6bd1-8156-4886-adff-b39e6043af0c'}

These following keys will be useful to create the report: director, rt_score.

When incrementing the last number in the url where page is 1, I got different result.
all created dictionaries just changed, and when page is 4, the data will become []

In [3]:
import pandas as pd
import requests
base_url= "http://linserv1.cims.nyu.edu:10000/films?_page="
count =1
data = requests.get(f'{base_url}{count}').json()
df = pd.json_normalize(data)
while requests.get(f'{base_url}{count+1}').json() != []:
    datanew = requests.get(f'{base_url}{count+1}').json()
    dfnew = pd.json_normalize(datanew)
    df = pd.concat([df,dfnew])
    count = count +1

In [4]:
df = df[['director','rt_score']]
df['rt_score'] = pd.to_numeric(df['rt_score'],errors = 'coerce')
averagert = df.groupby(by = 'director').mean()
countdir = df.groupby(by = 'director').count()
averagert = averagert.rename(columns = {'rt_score':'avg_rt_score'})
countdir = countdir.rename(columns = {'rt_score':'count'})
report = pd.concat([averagert,countdir], axis=1)
report

                      avg_rt_score  count
director
Gorō Miyazaki            62.000000      2
Hayao Miyazaki           92.777778      9
Hiromasa Yonebayashi     93.500000      2
Hiroyuki Morita          89.000000      1
Isao Takahata            90.000000      5
Michaël Dudok de Wit     93.000000      1
Yoshifumi Kondō          91.000000      1